<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   Copyright (c) 2014-2024 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="infrangible_catalogproductprice" translate="label" type="text" sortOrder="970" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog Product Price</label>
            <tab>infrangible</tab>
            <resource>Infrangible_CatalogProductPrice::config_infrangible_catalogproductprice</resource>
            <group id="final_price" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Final Price</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="information" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Information</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="old_price" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Old Price</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/old_price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="information" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Information</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/old_price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="min_price" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Min Price</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="information" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Information</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="max_price" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Max Price</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="information" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Information</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="information" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Information</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="price" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="information" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Information</label>
                    <depends>
                        <field id="infrangible_catalogproductprice/price/enable">1</field>
                    </depends>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="attribute_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attribute</label>
                        <source_model>Infrangible\Core\Model\Config\Source\Attribute\Product</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="default_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Value</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
